attrs==23.2.0
cattrs==23.2.3
exceptiongroup==1.2.0
Flask==3.0.2
Flask-Cors==4.0.0
flatbuffers==24.3.7
llvmlite==0.42.0
NREL-PySAM==4.2.0
numpy==1.26.4
openmeteo_requests==1.2.0
openmeteo_sdk==1.10.0
pandas==2.2.1
platformdirs==4.2.0
pvlib==0.10.3
python-dotenv==1.0.1
requests-cache==1.2.0
retry-requests==2.0.0
typing_extensions==4.10.0
url-normalize==1.4.3
